body {
  background-color: chocolate;
  font-family: 'Baloo Bhaina 2', cursive;
  font-size: 150%;
}

.container {
  width: 30%;
  margin: auto;
  background-color: darkcyan;
}

table {
  width: 100%;
}

.right {
  text-align: right;
}

table, td {
  border: 1px solid black;
}